
@{
    ViewBag.Title = @WebResources.AddTitle;
}

<div class="col-md-8 col-md-offset-2 offset-bottom">
    <div class="panel panel-default">
        <div class="panel-body">@WebResources.AddInformation</div>
    </div>
</div>

<div>
    @using (Ajax.BeginForm(new AjaxOptions
    {
        UpdateTargetId = "lookupMoviesResults",
        InsertionMode = InsertionMode.Replace,
        Url = Url.Action("LookupMovies", new { page = 1 }),
    }))
    {
        Html.RenderPartial("SearchInput");
    }
</div>

<br />

<div id="lookupMoviesResults"></div>
