@model Pinicules.Presentation.Models.MoviesSearchResult

@{
    ViewBag.Title = "Index";
}
<style>
    .ellipsis {
        text-overflow: ellipsis;
    }
</style>

<div>
    @using (Ajax.BeginForm(new AjaxOptions
    {
        UpdateTargetId = "searchMoviesResults",
        InsertionMode = InsertionMode.Replace,
        OnComplete = "OnComplete",
        Url = Url.Action("SearchMovies", new { page = 1 }),
    }))
    {
        <div class="input-group col-md-8 col-md-offset-2">
            <input type="text" id="searchTerm" name="searchTerm" class="form-control" placeholder="Search&hellip;">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default">Go</button>
            </span>
        </div>
    }
</div>

<br />

<div id="searchMoviesResults">
    @Html.Action("SearchMovies", new { page = 1 })
</div>

