@model Pinicules.Presentation.Models.MoviesSearchResult

@{
    ViewBag.Title = "Index";
}
<div>
    @using (Ajax.BeginForm(new AjaxOptions
    {
        UpdateTargetId = "searchMoviesResults",
        InsertionMode = InsertionMode.Replace,
        OnComplete = "OnComplete",
        Url = Url.Action("SearchMovies", new { page = 1 }),
    }))
    {
        Html.RenderPartial("SearchInput");
    }
</div>

<br />

<div id="searchMoviesResults">
    @Html.Action("SearchMovies", new { page = 1 })
</div>

@section NewMovie{
    @Html.Partial("NewMovieButton")
}