@model Pinicules.Presentation.Models.SearchModel

@{
    ViewBag.Title = @WebResources.SiteTitle;
}
<div>
    @using (Ajax.BeginForm(new AjaxOptions
    {
        UpdateTargetId = "searchMoviesResults",
        InsertionMode = InsertionMode.Replace,
        OnComplete = "OnComplete",
        Url = Url.Action("SearchMovies", new { page = 1 }),
    }))
    {
        Html.RenderPartial("SearchInput");
    }
</div>

<br />

<div id="searchMoviesResults">
    @Html.Action("SearchMovies", new { page = 1 })
</div>

@section NewMovie{
    @Html.Partial("NewMovieButton")
}

<div class="scroll-top-wrapper ">
    <span class="scroll-top-inner">
        <i class="fa fa-2x fa-arrow-circle-up"></i>
    </span>
</div>

<script>
    $(document).on('scroll', function () {

        if ($(window).scrollTop() > 100) {
            $('.scroll-top-wrapper').addClass('show');
        } else {
            $('.scroll-top-wrapper').removeClass('show');
        }
    });

    $('.scroll-top-wrapper').on('click', function () {
        scrollToTop();
    });

    function scrollToTop() {
        console.log('hello');
        verticalOffset = typeof (verticalOffset) != 'undefined' ? verticalOffset : 0;
        element = $('body');
        offset = element.offset();
        offsetTop = offset.top;
        $('html, body').animate({ scrollTop: offsetTop }, 500, 'linear');
    }
</script>