body {
    padding-bottom: 20px;
}

.offset-bottom {
    margin-bottom: 20px;
}

.add-movie {
    width: 95%;
    position: absolute;
    bottom: 4px;      
    z-index: 2;
    padding: 4px;
    opacity:0;
}

.thumbnail {
    position: relative;
}
