<div class="input-group col-md-8 col-md-offset-2">
    <input type="text" id="searchTerm" name="searchTerm" class="form-control" placeholder="@WebResources.SearchPlaceholder">
    <span class="input-group-btn">
        <button type="submit" class="btn btn-default">@WebResources.Search</button>
    </span>
</div>
